SPRING_ENV=dev
SPRING_APP_NAME=ApiGateway
SPRING_LOG_LEVEL=INFO
SPRING_EUREKA_URL=http://localhost:8123/eureka

HOST_PORT=8080
DOCKER_DOMAIN_NETWORK=fullstack_network

SERVICE_AUTH_ID=AuthMicroservice
SERVICE_ACCOUNTING_MANAGER_ID=AccountingManager
SERVICE_STORE_MANAGER_ID=StoreManager
SERVICE_VET_MANAGER_ID=VetManager
